extends layout

block content
    p.message #{message}
    details
        summary Pagini
        p Privire generală 
        p Generare furnizor/client
        p Generare factură 
            i XML
        p #{title}
    details
        summary Dependențe principale
        <p> NodeJS, Express, Mongoose, Pug
    details
        summary Schemă Mongoose
        pre= JSON.stringify(vendorschema, null, 2)
    p #{credentials}
    p Licență GPL.