extends layout

block content
  h1= title
  p Welcome to #{title}
  p Accesează informații privind contribualul.
  p Salvează informații privind contribualul în local storage sau bază de date (de implementat)
  p Generează E-Factura în format 
    i xml
  p Licență GPL