body {
    margin: 0px;
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: darkslateblue;
    background-color: azure;
}

a {
    color: #00B7FF;
}

nav {
    background: lightblue;
    padding: 0px;
    margin: 0px;
}

nav ul.navbar-nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: left;
    justify-content: space-between;
    display: flex;
}

nav ul li {
    display: inline-block;
    cursor: pointer;
    padding: 1px;
    margin: 1px;
}

nav ul li a.nav-link {
    text-transform: uppercase;
    color: darkcyan;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 0px;
}

nav ul li a.nav-link:hover {
    background: darkcyan;
    color: white;
    border-radius: 8px;
}

nav ul li:last-child {
    background: lightskyblue;
    color: darkslateblue;
    text-align: center;
    flex: 1;
}

nav div {
    display: inherit;
}

li.title {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    cursor: default;
}

h3.title {
    margin: 0px;
    padding-top: 8px;
    text-decoration: none;
    cursor: default;
}

input {
    margin: 1px;
    border-radius: 4px;
}

h1 {
    color: darkcyan;
}

.message {
    font-style: oblique;
    color: blue;
}

fieldset {
    background-color: azure;
    border-radius: 4px;
}

div.mandatory,
div.optional {
    background-color: lightblue;
    border-radius: 3px;
}

.taxdatagroup {
    display: inline-grid;
    gap: 3px;
    grid-template-columns: 8% 15% 8% 15% 8% 15% 8% 15%;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    background-color: lightskyblue;
}

.taxdatagroup input {
    margin: 1px;
    border-radius: 4px;
}

.taxdatagroup label {
    margin: 1px;
}

p.fields {
    margin: 0.5px;
    padding: 0.5px;
}

.deletebutton {
    color: red;
    display: grid;
    float: right;
}

.editbutton {
    color: darkgreen;
}